#hero {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
  }

  #hero h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  #hero p {
    font-size: 1.5rem;
  }

  #hero hr {
    border: none;
    background-color: aliceblue;
    width: 3rem;
    height: 0.3125rem;
    margin-bottom: 2.5rem;
  }

  main {
    margin: 2rem auto;
    width: 80%;
  }

  main h2 {
    font-weight: 700;
    padding: 1rem 0;
  }

  main p, main ul li {
    font-size: 1.4rem;
  }

  main ul {
    list-style: square;
  }


  main span {
    font-size: 1.5rem;
    font-weight: 700;
  }

  #skills h1 { 
    font-weight: 700;
  }

  /* Contact section styles starts*/

  #contact {
    min-height: 70vh;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dae4ec;
  }

  #contact h2 {
    font-weight: 700;
  }

  #contact hr {
    border: none;
    background-color: black;
    width: 3rem;
    height: 0.3125rem;
  }

  #contact p {
    font-size: 1.75rem;
  }

  #contact button {
    width: 20%;
    padding: 0.9rem 1.2rem;
    background-color: #ff6347;
    border-radius: 50px;
    border: none;
    margin-top: 1.5rem;
  }

  #contct button:hover {
    background-color: #214621;
  }

  #contact button a {
    text-decoration: none;
    color: #ffffff;
  }

  /* Contact section styles ends*/
  @media only screen and (min-width: 991px) {
    #hero h1 {
        width: 60%;
    }
  }

  @media only screen and (max-width: 768px) {

    #hero {
        min-height: 80vh;
        background-position: top center;
    }

    #hero h1 {
        font-size: 2rem;
    }
    
    #hero p {
        font-size: 1.4rem;
        margin-top: -1rem;
    }

    #contact button {
        width: 40%;
        padding: 0.5rem 1rem;
    }

    #contact p {
        font-size: 1.2rem;
      }
  }

  @media only screen and (max-width: 500px) {
    #hero h1 {
        font-size: 1.8rem;
        margin-top: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    main {
        width: 100%;
        padding: 0 0.5rem;
    }
    main p, main ul li {
        font-size: 1.1rem;
      }
      main span {
        font-size: 1.2rem;
      }

      .item h2 {
        font-size: 1.3rem;
      }

      #skills h1 {
        font-size: 1.3rem;
      }

      #contact h2 {
        font-size: 1.4rem;
      }

    #contact button {
        width: 60%;
    }
  }

  @media only screen and (max-width: 350px) {
    #hero {
        margin-top: 2rem;
    }
    h4 {
        font-size: 1.1rem;
    }

    #contact h2 {
        font-size: 1.3rem;
      }

    #contact button {
        width: 100%;
        padding: 0.3rem 1rem;
    }
  }

  @media only screen and (max-width: 280px) {
    #hero h1 {
        font-size: 1.4rem;
    }

    #hero p {
        font-size: 1.1rem;
    }

    main p, main ul li {
        font-size: 1rem;
      }
      main span {
        font-size: 1.1rem;
      }

      .item h2 {
        font-size: 1.2rem;
      }

      #skills h1 {
        font-size: 1.3rem;
      }

  }

  
 